#list {
  position: absolute;
  z-index: 1;
  margin-top: 0.25em;
  top: 100%;
  width: 100%;
  left: 0;
  font-family: Poppins, sans-serif;
  background: white;
  border-radius: 1.5em;
  border: .125em solid var(--color-accent);
  padding: 0.25em .5em;
  box-sizing: border-box;
  filter: drop-shadow(0 .5em 1em rgb(17, 17, 17, .2));
}

#list:empty {
  display: none;
}

#list ul {
  list-style-type: none;
  margin: .5rem 0;
  padding: 0;
}

#list a {
  color: inherit;
  text-decoration: none;
}

#list ul[aria-label]:before {
  content: attr(aria-label);
  display: inline-block;
  text-transform: uppercase;
  background: var(--color-accent);
  font-size: .6em;
  font-weight: bolder;
  padding: 0.25em 0.5em;
  color: white;
  box-sizing: border-box;
  margin-bottom: .5rem;
}

#list li:not(:last-child) {
  margin-bottom: .5rem;
}

#list .term {
  display: block;
  line-height: 1.25;
  font-weight: bolder;
}

#list .text {
  display: block;
  opacity: .5;
  font-size: .8em;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
}