/* https://www.instagram.com/p/CU0anphAkhB/ */
:root {
  --color-accent: #702;
}

*,*:before,*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  color: black;
  font-family: Lora, serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5;
  max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif;
  line-height: 1.25;
  color: var(--color-accent);
}

.overline {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  background: var(--color-accent);
  font-size: .8em;
  font-weight: bolder;
  padding: 0.25em 0.5em;
  color: white;
}

a {
  color: currentColor;
}

[href="#search"] {
  font: inherit;
  font-family: Poppins, sans-serif;
  border: 0;
  padding: .5em 1em;
  background-color: var(--color-accent);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 1.5em;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 1rem;
}

header > * {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

header * {
  margin: 0;
}

header > div {
  flex: 1;
}

header svg:not(#aria-wtf-logo) {
  height: 1em;
  width: 1em;
}

main {
  /* https://codepen.io/xubiod/pen/GQpGaK?editors=0010 */
  flex: 1;
  border-radius: 1em;
  position: relative;
}

fog-canvas {
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
}

[data-page="index"] section {
  position: relative;
  filter: drop-shadow(0 .2em .1em rgba(0,17,0,.3));
}

#aria-wtf-logo {
  width: 2em;
  color: var(--color-accent);
}

[data-page="index"] main {
  display: flex;
  overflow: hidden;
  background: var(--color-accent);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  color: white;
}

[data-page="index"] p {
  display: contents;
}

[data-page="index"] h2 {
  text-align: center;
  max-width: 40ch;
  padding: 0 1em;
  color: white;
  font-size: min(7vw, 1em);
}

#search-input {
  position: relative;
  background: white;
  border-radius: 1.5em;
  border: .125em solid var(--color-accent);
  padding: 0.25em .5em;
  display: flex;
  align-items: center;
  color: var(--color-accent);
  gap: .5em;
  flex: 1;
}

#search-input label {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: text;
}

#search-input input {
  font: inherit;
  font-family: Poppins, sans-serif;
  border: 0;
  background: transparent;
  font-size: .9em;
  flex: 1;
  max-width: 230px;
  position: relative;
}

#search-input input:focus {
  outline: 0;
}

#search-input input::placeholder {
  color: var(--color-accent);
}