<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body data-page="{{ name }}">
    <header>
      <a href="/">
        {% include "logo.svg" %}
        <h1>aria.wtf</h1>
      </a>
      <div>
        <term-search></term-search>
        <random-content></random-content>
      </div>
    </header>
    <main>
      {% if parentDir %}
      <span class="overline">{{ parentDir }}</span>
      <h2>{{ name }}</h2>
      {% else %}
      <fog-canvas></fog-canvas>
      {% endif %}
      <section>
        {{ content | safe }}
      </section>
    </main>
  </body>
</html>