<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body data-page="{{ name }}">
    <header>
      <a href="/">
        {% include "logo.svg" %}
        <h1>aria.wtf</h1>
      </a>
      <div>
        <div id="search-input">
          {% include "search.svg" %}
          <label for="search">Search</label>
          <input id="search" type="text" placeholder="Find term or component" autocomplete="off"/>
          <term-search input="search"></term-search>
        </div>
        <random-content>
          {% include "random.svg" %}
        </random-content>
      </div>
    </header>
    <main>
      {% if parentDir %}
      <span class="overline">{{ parentDir }}</span>
      <h2>{{ name }}</h2>
      {% else %}
      <fog-canvas></fog-canvas>
      {% endif %}
      <section>
        {{ content | safe }}
      </section>
    </main>
  </body>
</html>