<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <header>
      {% include "logo.svg" %}
      <term-search></term-search>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>