---
import OpenGraph from '../components/open-graph.astro';
import Meta from '../components/meta.astro';
import Fonts from '../components/fonts.astro';
import Analytics from '../components/analytics.astro';
import Navigation from '../components/navigation.astro';

const pageProps = {
  hostname: 'aria.wtf',
  description: 'Hello world',
  family: 'Cabin',
  gaProperty: 'G-M324PMDVRH',
  ...Astro.props.content,
}

---
<html>
  <head>
    <title>aria.wtf: { pageProps.title }</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <OpenGraph { ...pageProps }/>
    <Meta { ...pageProps }/>
    <Fonts client:load { ...pageProps }/>
    <Analytics client:load/>
  </head>
  <body>
    <Navigation/>
    <slot/>
  </body>
</html>